/*  COULEURS
	ROUGE : #FF4655
	NOIR : #111111
	BLANC : #ECE9E3
  	GRIS : #D3CDC3
*/

@font-face {
	font-family: "Oswald";
	src: url(../polices/Oswald.ttf);
}

@font-face {
	font-family: "josefin sans";
	src: url(../polices/josefinsans.ttf);
}

aside{
    display : grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr;
    grid-column-start: 2;
  	grid-column-end: 3;
	grid-row-start: 1;
  	grid-row-end: 2;

	grid-gap: 10%;
    width: 100%;
    height: 250px;
}

section{
    grid-template-columns: 0.5fr 1fr 1fr;
		grid-template-rows: 0.3fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
		grid-gap: 1em
            
}

aside input[type = submit] {
    box-shadow: 8px 3px 15px 1px #00C0FF;
    width: 100%;
    height: 50px;
    border-radius: 18px 18px 18px 18px;
    background: #A5F5F5;
    border : solid 5px #D5E5F5
    
         }



input[type = submit]:hover{ 
      cursor: pointer; 
   
      }

input[type = submit]{ 
      width: 20%;
      height: 30px;
      }

aside label{
    padding : 7%;
}

form{
    border-radius: 18px 18px 18px 18px;
    border : solid 5px #7B98FF
    background: #205956;
    background: linear-gradient(93deg,rgba(32,89,86,0.5), #DFFAFF) 
}

div{
	text-align:center;
	display: grid;
	grid-template-columns: 2fr 0.50fr;
	grid-template-rows: 4fr 0.01fr;
	background-color: #D3CDC3;
	padding: 1%;
	grid-gap: 1%;
	box-shadow: 2px 2px 0px #111111;
	transition: box-shadow 200ms;
    
}

html { 
	scroll-behavior: smooth;
}

a {
	color: #111111;
	text-decoration: none;
}

body {
	margin: 0;
	background-color: #ECE9E3;
}

img {
	width: 80%;
	grid-column-start: 1;
  	grid-column-end: 2;
	grid-row-start: 1;
  	grid-row-end: 2;
}

label{
    text-shadow: 2px 3px 5px rgba(0,0,0,0.8);
}

li{
	color: #FF4655;
	transition: color 300ms;
	padding: 10px;
	font-family: "josefin sans";
}

p {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	font-size: 1em;
	text-align: justify;
	font-family: "josefin sans";
    text-shadow: 2px 3px 5px rgba(0,0,0,0.8);
}

@media screen and (max-width: 1200px) and (min-width: 600px) {
	section {
		display: grid;
		grid-template-columns: 0.5fr 1fr 1fr;
		grid-template-rows: 0.3fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
		grid-gap: 1em;
	}
	
	aside {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 2;
		grid-row-end: 7;
	}
	
	h2 {
		background-color: #ECE9E3;
		color: #111111;
		font-size: 2rem;
		margin-left: 2%;
		font-family: "Oswald", sans-serif;
		margin-bottom: 0;
		grid-column-start: 1;
		grid-column-end: 4;
		grid-row-start: 1;
		grid-row-end: 2;
	}
}


@media screen and (max-width: 600px) {
	section {
		display: grid;
		grid-template-columns: 0.3fr 1fr;
		grid-template-rows: 0.2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-gap: 1em;
	}
	
	aside {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 2;
		grid-row-end: 11;
	}
	
	h2 {
		background-color: #ECE9E3;
		color: #111111;
		font-size: 1.5em;
		margin-left: 2%;
		font-family: "Oswald", sans-serif;
		margin-bottom: 0;
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 2;
	}
}

@media handheld and (max-width: 500px) {
	section {
		display: grid;
		grid-template-columns: 0.3fr 1fr;
		grid-template-rows: 0.3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-gap: 5%;
	}
	
	aside {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 2;
		grid-row-end: 11;
	}
	
	h1 {
		font-size: 4em;
	}
	
	h2 {
		background-color: #ECE9E3;
		color: #111111;
		font-size: 1.5em;
		margin-left: 2%;
		font-family: "Oswald", sans-serif;
		margin-bottom: 0;
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 2;
	}
	
	h3 {
		font-size: 2.5em;
	}
	
	p {
		font-size: 2em;
	}
	
	a {
		margin: 1em;
	}

	a + section {
		display: block;
  	}

  	aside {
  		max-width: 100vw;
  	}
}